<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Matcha Cat Café</title>
<link rel="stylesheet" href="/css/style.css">
<link rel="icon" href="/images/matcha-cat.jpg" type="image/x-icon">
<script defer src="/js/matcha-cat.js"></script>
