<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head', { title: 'Deals' }) %>
</head>
<body>

  <!--header-->
  <header class="site-header">
    <img src="/images/logo.jpg">
  </header>

  <main>
    <!-- Kate - deals content here -->
  </main>

  <!--footer-->
  <footer class="site-footer">
    <p>Matcha Cat Cafe • Seattle, WA</p>
  </footer>

  <%- include('partials/bottom-nav') %>

</body>
</html>