<!--
---- Kate Nguyen
---- This page is pop up when you hit add to order
---- It will asked if you want to log in or just continue with guest
---- If pick login -> send to login.ejs
---- if pick continue with guest, send to review.ejs
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head', { title: 'Continue' }) %>
</head>
<body>
    <!-- Header-->
  <header class="site-header">
    <a href="/" class="logo-text">
      <span class="matcha">Matcha</span> <span class="cat">Cat</span>
    </a>
  </header>
<!-- Main -->
  <main>
    <section class="card">
      <h1>Before you order...</h1>
      <p>Log in to save your order history, or continue as a guest!</p>
      <br><br>
      <a href="/login" class="btn btn-primary full-width">Log In</a>
      <br><br><br>
      <a href="/review" class="btn btn-secondary full-width">Continue as Guest</a>
    </section>
  </main>
<!-- Footer-->
  <footer class="site-footer">
    <p>Matcha Cat Cafe • Seattle, WA</p>
  </footer>
  <%- include('partials/bottom-nav') %>
</body>
</html>